body
{
	font-color:#66BFBF;
	margin: 0;
	text-align: center;
	font-family: sans-serif;
background-color: #e4f9f5;	
}


h1	{
	color: #66BFBF;
	line-height: 2;
	margin: 50px auto 0 auto ;
	font-size: 5.625em;
	font-family: cursive;

}

h3
{
	color: #11999E;
	font-family: sans-serif;
	text-align: left;
}
h4
{
	color: #11999E;
	font-family: sans-serif;

}
hr
{
	margin: 100px auto;
	border: dotted;
	border-color:grey;
	border-spacing: 6px;
	border-bottom: none;
	width: 4%;
}
h2
{
	color: #66BFBF;
	margin: 50px auto 0 auto ;
	font-size: 3.625em;
	padding-bottom: 10px;
	font-family: cursive;
}
a
{
	color:  #11999E;
	
}
#fwn
{
	font-weight: normal;
}
.pic
{
	
	height: 150px;
	width: 150px;
	
}

.skill-row
{
	width: 50%;
	margin: 100px auto 100px auto;
}
.ptext
{
	line-height: 2;
}

.top-container
{
	background-color: #e4f9f5;
}
.middle-container
{  
	margin:100px 0; 
}
.skill-img1
{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.left3
{
	text-align: right;
}

.skill-img2
{
	width: 25%;
	float: right;
	margin-left: 30px;

}
.intro{
	width: 30%;
	margin: auto;
}
.bottom-container
{  
	background-color: #9dc6a7;
	padding:50px 0 20px; 
}
.bottom-cloud
{
	position: relative;
	right: 10px;
	left: 10px;
}
.top-cloud
{
	position: relative;
	    right: 0px;
    left: 300px;
}




.btn {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66edf2), color-stop(1, #4acc91) );
	background:-moz-linear-gradient( center top, #66edf2 5%, #4acc91 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66edf2', endColorstr='#4acc91');
	background-color:#66edf2;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
text-indent:0;
	border:1px solid #d6bcd6;
	display:inline-block;
	color:#3a8a9e;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #e1e2ed;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4acc91), color-stop(1, #66edf2) );
	background:-moz-linear-gradient( center top, #4acc91 5%, #66edf2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4acc91', endColorstr='#66edf2');
	background-color:#4acc91;
}
.btn:active {
	position:relative;
	top:1px;
}</style>